<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/bubble-frame.png" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello" i18n="dialog@@hello">Hello!</p>
        <span
            class="txt-rotate"
            appTypingAnimation
            [phrasePeriod]="2000"
            [startDelay]="1500"
            [typeSpeed]="200"
            [data]='[
                {
                    "language": "pt",
                    "phrases": [ "Meu nome é Daniel.", "Seja bem-vindo(a) to my portfolio", "Navegue para me conhecer mais... :)" ]
                },
                {
                    "language": "en",
                    "phrases": [ "My name is Daniel.", "Be welcome to my Live Resume.", "Scroll down and you will know me more... :)" ]
                }
            ]'></span>
    </div>
</div>
