<div class="skills">
    <img loading="lazy" class="background" src="/assets/template/welcome/Daniel-illustration-back.png" alt="Background circle"/>
    <img loading="lazy" class="skill-icon first" src="/assets/template/welcome/icons/sql.png" alt="SQL"/>
    <img loading="lazy" class="skill-icon second" src="/assets/template/welcome/icons/git.png" alt="Git"/>
    <img loading="lazy" class="skill-icon third" src="/assets/template/welcome/icons/data-science.png" alt="DataScience"/>
    <img loading="lazy" class="skill-icon fourth" src="/assets/template/welcome/icons/python.png" alt="Python"/>
    <img loading="lazy" class="skill-icon fifth" src="/assets/template/welcome/icons/node-js.png" alt="Node-js"/>
    <img loading="lazy" class="skill-icon sixth" src="/assets/template/welcome/icons/php.png" alt="PHP"/>
    <img loading="lazy" class="skill-icon seventh" src="/assets/template/welcome/icons/agile.png" alt="Agile"/>
    <img loading="lazy" class="skill-icon eighth" src="/assets/template/welcome/icons/html5.png" alt="HTML5"/> 
    <img loading="lazy" class="skill-icon ninth" src="/assets/template/welcome/icons/mongo.png" alt="MongoDB"/>     
</div>